---
layout: simple
title: Projects
description: >-
  Check out some of my favorite things I've worked on
tags:
  - typescript
  - javascript
  - nodejs
  - mysql
  - sqlite
  - reddit mirror bot
  - reddit multiple sticky comments
  - 124 spider abarth
custom-layout: true
assets:
  css: true
permalink: /projects
---

<h1>Projects</h1>

<blockquote>
  "And&hellip;uh&hellip;I'm not sure what to do with my hands." &nbsp;<a
    href="https://www.youtube.com/watch?v=QqhkdHlCHLk&feature=youtu.be&t=4s"
    target="_blank"
    >&hyphen; Ricky Bobby</a
  >
</blockquote>

<p>
  Between tech, cars, and photography, I am always engaged with something!
  Here's a peek at some of my favorite projects I've had the pleasure of working
  on.
</p>

<h2>Tech</h2>
<div class="projectList">
  <div class="project" id="tuckbot">
    <div class="projectTitle">
      <h2>Tuckbot.tv</h2>
    </div>
    <picture class="projectCover">
      <source
        type="image/webp"
        media="(max-width: 900px)"
        srcset="/assets/img/tuckbot_150.webp"
      />
      <source
        type="image/jpeg"
        media="(max-width: 900px)"
        srcset="/assets/img/tuckbot_150.jpg"
      />

      <source
        type="image/webp"
        media="(min-width: 900px)"
        srcset="/assets/img/tuckbot_175.webp"
      />
      <source
        type="image/jpeg"
        media="(min-width: 900px)"
        srcset="/assets/img/tuckbot_175.jpg"
      />

      <img
        src="/assets/img/tuckbot_150.jpg"
        alt="Tuckbot.tv cover photo. Render of an office with a dog wearing glasses and looking at a computer monitor with Tuckbot.tv written on it."
      />
    </picture>
    <div class="projectStack">
      <ul>
        <li>
          {% include icons/typescript.html %}
        </li>
        <li>{% include icons/react.html %}</li>
        <li>{% include icons/api.html %}</li>
        <li>{% include icons/backend.html %}</li>
      </ul>
    </div>
    <div class="projectInfo">
      Automated <span class="smallOnly-inline">alternate</span> video
      <span class="mediumAndLarge-inline">downloader, API, and</span> host for
      videos submitted to specific subreddits. Named after
      <span class="smallOnly-inline">my dog</span
      ><span class="mediumAndLarge-inline">the cutest dog in the world,</span>
      Tucker.
    </div>
    <a
      class="projectLink"
      href="https://github.com/kyleratti/tuckbot-downloader"
      target="_blank"
      >GitHub</a
    >
  </div>
  <div class="project" id="amirrorbot">
    <div class="projectTitle">
      <h2>A Mirror Bot</h2>
    </div>
    <picture class="projectCover">
      <source
        type="image/webp"
        media="(max-width: 900px)"
        srcset="/assets/img/amirrorbot_150.webp"
      />
      <source
        type="image/jpeg"
        media="(max-width: 900px)"
        srcset="/assets/img/amirrorbot_150.jpg"
      />

      <source
        type="image/webp"
        media="(min-width: 900px)"
        srcset="/assets/img/amirrorbot_175.webp"
      />
      <source
        type="image/jpeg"
        media="(min-width: 900px)"
        srcset="/assets/img/amirrorbot_175.jpg"
      />

      <img src="/assets/img/amirrorbot_150.jpg" alt="TODO:" />
    </picture>
    <div class="projectStack">
      <ul>
        <li>
          {% include icons/typescript.html %}
        </li>
        <li>{% include icons/api.html %}</li>
        <li>{% include icons/service.html %}</li>
      </ul>
    </div>
    <div class="projectInfo">
      Integrates with other bots (including Tuckbot) to maintain a directory
      listing of alternate video mirrors at the top of each reddit post.
    </div>
    <a
      class="projectLink"
      href="https://github.com/kyleratti/a-centralized-mirror"
      target="_blank"
      >GitHub</a
    >
  </div>
</div>

<h2>Cars</h2>

<div class="projectList">
  <div class="project" id="mustang">
    <div class="projectTitle">
      <h2>Ford Mustang GT</h2>
    </div>
    <picture class="projectCover">
      <source
        type="image/webp"
        media="(max-width: 900px)"
        srcset="/assets/img/mustang_150.webp"
      />
      <source
        type="image/jpeg"
        media="(max-width: 900px)"
        srcset="/assets/img/mustang_150.jpg"
      />

      <source
        type="image/webp"
        media="(min-width: 900px)"
        srcset="/assets/img/mustang_175.webp"
      />
      <source
        type="image/jpeg"
        media="(min-width: 900px)"
        srcset="/assets/img/mustang_175.jpg"
      />

      <img
        src="/assets/img/mustang_150.jpg"
        alt="Picture of my Ford Mustang GT"
      />
    </picture>
    <div class="projectInfo">
      Daily driving and loving the
      <span class="nobreak">Ford Mustang GT</span> I purchased from my father
      after 15 years of drooling over it!
    </div>
  </div>

  <div class="project dead" id="abarth124">
    <div class="projectTitle">
      <h2>Abarth 124 Spider</h2>
    </div>
    <picture class="projectCover">
      <source
        type="image/webp"
        media="(max-width: 900px)"
        srcset="/assets/img/abarth124_150.webp"
      />
      <source
        type="image/jpeg"
        media="(max-width: 900px)"
        srcset="/assets/img/abarth124_150.jpg"
      />

      <source
        type="image/webp"
        media="(min-width: 900px)"
        srcset="/assets/img/abarth124_175.webp"
      />
      <source
        type="image/jpeg"
        media="(min-width: 900px)"
        srcset="/assets/img/abarth124_175.jpg"
      />

      <img
        src="/assets/img/abarth124_150.jpg"
        alt="Picture of my Fiat 124 Spider Abarth"
      />
    </picture>
    <div class="projectInfo">
      The Fiata, the <span class="nobreak">Italian Miata</span>, the
      <span class="nobreak">"Little Red Lemon"</span>, or as I called it, the
      best worst car I had the pleasure of <small>briefly :(</small> owning.
    </div>
  </div>
</div>

<p class="smaller center">
  Special thanks to
  <a href="https://www.instagram.com/_bomburi_/" target="_blank">_bomburi_</a>
  for the project artwork!
</p>
