nav ul li {
  font-size: 1.6em;
}

.smallOnly {
  display: none;
}

.mediumOnly {
  display: block;
}

.mediumAndLarge {
  display: block;
}

.mediumAndLarge-inline {
  display: inline;
}

section {
  padding: 5em;
}
