* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --colorBg: #360259;
  --colorAlt: #f24405;
  --colorAlt2: #f29f05;
  --colorLinks: #ee05f2;
  --colorLinkHover: #27368c;
}

body {
  padding-left: calc(
    100vw - 100%
  ); /* From https://stackoverflow.com/a/30293718 */
  background-color: var(--colorBg);
  color: var(--colorAlt2);
  font-family: Arial, Helvetica, sans-serif;
}

#page {
  width: 100%;
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
}

nav a,
nav a:hover,
nav a:visited {
  text-decoration: none;
  color: var(--colorLinkHover);
}

#content a,
#content a:hover,
#content a:visited {
  text-decoration: none;
  color: var(--colorLinks);
  font-weight: bold;
  text-shadow: 1px 0 black;
  background-image: linear-gradient(
    to top,
    var(--colorAlt2) 50%,
    var(--colorLinkHover) 50%
  );
  padding: 0.025em 0.2em;
  border-bottom: 2px solid var(--colorAlt2);
  transition: background-position 0.2s, color 0.15s, text-shadow 0.15s;
  background-size: 100% 200%;
  white-space: nowrap;
}

#content a:hover {
  color: var(--colorBg);
  background-position: 0 100%;
  text-shadow: none;
}

ul {
  margin-left: 0;
}

#content a:after {
  display: inline-block;
  text-decoration: none;
  padding-left: 0.2em;
  font-size: 0.85em;
}

#content a[href^="https://"]:after
{
  content: "🌎";
}

#content a[href^="mailto:"]:after {
  content: "📧";
}

#content a[href^="https://github.com/"]:after
{
  content: "GH";
}

#content a[href^="https://reddit.com/r/"]:after
{
  content: "REDDIT";
}

#content a small:before {
  content: "shared ";
}

#content a small {
  font-weight: normal;
  font-size: 0.7em;
}

nav,
#content {
  margin-bottom: 0.25em;
}

nav,
footer {
  background-color: var(--colorAlt);
  width: 100%;
  padding: 0.25em;
}

nav,
#content,
footer {
  padding: 0.5em;
}

nav h1 {
  display: inline-block;
  color: white;
  margin-right: 1em;
}

nav ul {
  display: inline;
  list-style: none;
}

nav ul li {
  display: inline-block;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  text-shadow: 1px 1px var(--colorBg);
}

nav ul li:hover {
  text-shadow: 2px 2px var(--colorAlt2);
}

nav ul li:not(:first-child) {
  margin-left: 0.5em;
}

#content {
  color: white;
}

.boxShadow,
.highlight,
nav,
table,
img {
  box-shadow: 1px 1px var(--colorAlt2), 2px 2px var(--colorAlt2),
    3px 3px var(--colorAlt2), 4px 4px var(--colorLinks),
    5px 5px var(--colorLinks);
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  color: var(--colorAlt2);
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

#content h1.postTitle,
#content h2.postDate {
  display: block;
  margin: 0;
}

#content h1.postTitle {
  text-align: center;
  color: var(--colorAlt);
}

#content h2.postDate {
  text-align: right;
  color: var(--colorAlt2);
  font-size: 1em;
  font-weight: normal;
  text-transform: lowercase;
}

#content hr {
  border: 0;
  height: 0.1em;
  background: linear-gradient(
    to right,
    var(--colorBg) 0% 11%,
    var(--colorLinks) 11% 22%,
    var(--colorAlt) 22% 33%,
    var(--colorAlt2) 33% 44%,
    var(--colorLinkHover) 44% 55%,
    var(--colorAlt2) 55% 66%,
    var(--colorAlt) 66% 77%,
    var(--colorLinks) 77% 88%,
    var(--colorBg) 88% 100%
  );
}

.postListing a:before {
  content: ">";
  text-decoration: none;
  display: inline-block;
  color: white;
  font-weight: bold;
  margin-right: 0.25em;
}

#content h1 small {
  font-size: 0.5em;
  font-weight: normal;
  color: rgb(219, 219, 219);
}

a::before,
a::after {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

hr {
  margin: 0.75em 0;
}

.postsList {
  list-style: none;
}

.postListing {
  font-weight: bold;
}

.postListing .postDate {
  font-weight: normal;
  font-size: 0.75em;
}

section {
  padding: 1em;
  padding-top: 0;
}

section:first-of-type {
  margin-top: 0;
  padding-top: 0;
}

p {
  margin: 1em 0;
}

img {
  display: block;
  margin: 0 auto;
}

img[src$=".svg"] {
  background-color: rgb(219, 219, 219);
  padding: 1em;
}

table {
  margin: 0 auto;
}

thead {
  text-align: center;
}

tbody td {
  padding: 0.25em;
}

tbody {
  color: rgb(219, 219, 219);
}

tbody tr:nth-child(even) {
  background-color: var(--colorLinkHover);
}

.rightAlign {
  text-align: right;
}

code,
.highlighter-rouge,
.highlighter-rouge .highlight {
  background-color: var(--colorLinkHover);
  border-radius: 0;
}

.highlight .s {
  color: var(--colorAlt2);
}

.highlight .mi {
  color: var(--colorAlt);
}
.highlight .nv {
  color: var(--colorLinks);
}

@media (min-width: 800px) {
  section {
    padding: 5em;
  }
}
