:root {
  --flagHeight: 32px;
  --profileHeight: 120px;
  --nameSize: 2.2em;
}

#content > section {
  /* margin-top: 0.5em; */
  /* padding: 0; */
}

#aboutMe {
  max-width: 450px;
  margin: 0 auto;
}

#intro {
  grid-template-areas:
    "profilePic"
    "name"
    "contact"
    "stats";
  gap: 0.5em;
  grid-template-rows: calc(var(--profileHeight) + 10px) 1fr auto auto;
}

#intro picture,
#intro img {
  width: var(--profileHeight);
  height: var(--profileHeight);
}

#name {
  grid-area: name;
  text-align: center;
}

#name h1 {
  font-size: var(--nameSize);
}

#contact {
  grid-area: contact;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin: var(--marginSmall);
}

#content #contact a {
  margin-right: 0.5em;
}

#content #contact a::after {
  display: none;
}

#contact > div {
  display: inline-block;
  /* width: 100%; */
  text-align: center;
  font-size: 1em;
}

#intro {
  display: grid;
  align-items: center;
}

#intro picture,
#intro img {
  display: inline-block;
}

#profile {
  grid-area: profilePic;
  margin: 0 auto;
}

h1 {
  display: inline-block;
  margin: 0;
}

#meat h1 {
  text-transform: none;
}

#stats {
  grid-area: stats;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 0.7em;
  align-items: center;
  /* line-height: normal; */
}

.badge {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  /* width: 35%; */
  text-align: center;
  padding: var(--paddingSmall);
  width: 33%;
}

.icon {
  /* min-width: var(--flagHeight); */
  /* min-height: var(--flagHeight); */
  text-align: center;
  /* border: 1px solid red; */
}

#stats .description {
  font-weight: bold;
}

.icon,
#mdFlag {
  width: var(--flagHeight);
  height: var(--flagHeight);
  font-size: calc(var(--flagHeight) * 0.8);
  margin: 0 auto;
  font-display: block;
}

#mdNative .icon {
  width: calc(var(--flagHeight) * 1.5);
}

#mdNative .icon #mdFlag {
  background-image: url(/assets/img/md_flag_32h.jpg);
  background-image: url(/assets/img/md_flag.svg);
  background-size: cover;
  width: 100%;
}

#stats ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#stats ul,
#stats ul li {
  margin: 0;
  padding: 0;
}

#stats ul li {
  display: inline-block;
  font-weight: bold;
}

#meat {
  max-width: 1200px;
  margin: var(--marginLarge) auto;
}

p::not(:first)::before {
  display: block;
  content: "";
  /* margin: 1em; */
}

p.naturalList {
  display: inline;
}

ul.naturalList {
  margin-left: 2em;
}

ul {
  list-style: outside;
}

/** BEGIN: Medium layout */
@media screen and (min-width: 600px) {
  :root {
    --flagHeight: 24px;
    --nameSize: 3em;
  }

  #aboutMe {
    max-width: 550px;
  }

  #intro {
    grid-template-areas:
      "profilePic name"
      "profilePic name"
      "profilePic contact"
      "stats stats";
    grid-template-rows: 2fr 3fr auto auto;
    grid-template-columns: var(--profileHeight) auto;
  }

  .badge {
    width: auto;
  }

  .icon {
    font-size: 2em;
  }

  #meat {
    margin-top: 1em;
  }
}

/** END: Medium layout */

/** BEGIN: Large layout */
@media screen and (min-width: 900px) {
  :root {
    --profileHeight: 180px;
    --nameSize: 2.7em;
  }

  #aboutMe {
    max-width: 650px;
  }

  #name h1 {
    text-align: center;
  }

  .badge {
    /* width: 50%; */
  }

  #languages,
  ul.naturalList {
    display: inline;
  }

  ul.naturalList {
    list-style: none;
    margin: 0;
  }

  ul.naturalList li {
    display: inline-block;
  }

  ul.naturalList li:not(:last-child):after {
    content: ",";
    float: right;
  }

  ul.naturalList li:last-child:before {
    content: "and ";
  }

  ul.naturalList.closer li:last-child:after {
    content: ".";
    float: right;
  }
}
/** END: Large layout */
