:root {
  --projectImageHeight: 150px;
}

.projectList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.project {
  /* background-color: rgba(var(--colorLinks), 0.6); */
  display: grid;
  grid-template-areas:
    "cover"
    "title"
    "info"
    "stack"
    "links";
  grid-template-rows: var(--projectImageHeight) auto auto 1fr auto;
  grid-template-columns: calc(var(--projectImageHeight) * 2);
  margin: var(--marginSmall);
  padding: 0;
}

.project:hover,
.project:active {
  transform: scale(103%);
}

.projectTitle h2 {
  text-shadow: 0 0 0.7em var(--rgbAlt);
  color: var(--rgbAlt);
  margin: var(--marginSmall) var(--marginSmall) 0;
  text-align: left;
}

.projectCover img {
  border-bottom: 2px solid var(--rgbBg);
}

.projectCover,
.projectCover img {
  grid-area: cover;
  background-size: cover;
  width: 100%;
  height: var(--projectImageHeight);
  box-shadow: none;
}

.dead {
  filter: grayscale(75%);
}

.dead:hover,
.dead:active {
  filter: grayscale(0);
}

.project .projectTitle {
  /* display: none; */
  text-align: center;
}

.projectStack {
  /* display: none; */
  grid-area: stack;
  /* grid-row: 1; */
  align-self: end;
  font-size: 0.9em;
  /* background-color: rgba(var(--colorBg), 0.5); */
  /* color: var(--rgbLinks); */
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8em;
}

.projectStack ul {
  display: flex;
  list-style: none;
  margin: 0;
  text-align: center;
}

.projectStack ul li {
  display: inline-block;
  flex-grow: 1;
}

.projectStack ul li:nth-child(even) {
  background-color: rgba(var(--colorBg), 1);
}

.projectLinks ul {
  display: flex;
  list-style: none;
  text-align: center;
  margin: 0;
  justify-content: space-evenly;
}

.projectLinks ul li {
  display: inline-block;
}

.projectLinks ul li:nth-child(even) {
  background-color: rgba(var(--colorBg), 1);
}

.projectInfo {
  grid-area: info;
  padding: var(--paddingLarge);
  padding-top: 0;
  /* var(--paddingSmall); */
  text-align: left;
  font-size: 0.9em;
  line-height: 125%;
}

#content .projectLinks {
  grid-area: links;
}

#content .projectLink {
  display: block;
  grid-area: links;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  background-image: linear-gradient(
    to top,
    var(--rgbAlt2) 50%,
    var(--rgbBg) 50%
  );
}

#content .projectLink,
#content .projectLink:hover,
#content .projectLink:visited {
  background-image: linear-gradient(
    to top,
    var(--rgbAlt2) 50%,
    var(--rgbBg) 50%
  );
}

@media screen and (min-width: 600px) {
  .project {
    --projectImageHeight: 175px;
  }
}

@media screen and (min-width: 900px) {
  .project {
    /* grid-template-areas:
      "cover"
      "stack"
      "info"; */
    --projectImageHeight: 175px;
    margin: var(--marginLarge);
  }
}
