{% assign pageNameNoExtension = page.name | remove: ".html" | remove: ".md" | remove: ".markdown" %}
{% if page.title %}
  {% assign pageTitle = page.title %}
{% else %}
  {% assign pageTitle = site.author %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="{% if page.description %} {{ page.description }} {% else %} {{ site.description }} {% endif %}" />
    <meta name="keywords" content="{{ page.tags | join: ", " }}" />
    <meta name="author" content="{{ site.author }}" />

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ pageTitle }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:image" content="{{ site.url }}/assets/img/me_180.jpg" />
    <meta
      property="og:description"
      content="{% if page.description %} {{ page.description }} {% else %} {{ site.description }} {% endif %}"
    />
    <meta property="og:site_name" content="{{ site.author }}" />

    <title>{{ pageTitle }}</title>

    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="stylesheet" href="/assets/css/app.css" />
    <link rel="stylesheet" media="screen and (min-width: 600px)" href="/assets/css/app-600.css" />
    <link rel="stylesheet" media="screen and (min-width: 900px)" href="/assets/css/app-900.css" />

    {% if page.assets.css %}
      <link rel="stylesheet" href="/assets/pages/{{ pageNameNoExtension }}/page.css" />
    {% endif %}

    <script src="https://kit.fontawesome.com/d85d4d6f28.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="background">
      <div id="grid"></div>
    </div>

    <div id="page">
      <nav id="top">
        <div id="navLinks">
          <ul>
            <li><a href="/">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/projects">Projects</a></li>
          </ul>
        </div>
        <div id="sky">
          <div id="sunContainer">
            <div id="sunGlow"></div>
            <div id="sun">
              <div class="sunbeam sunbeam-1"></div>
              <div class="sunbeam sunbeam-2"></div>
              <div class="sunbeam sunbeam-3"></div>
              <div class="sunbeam sunbeam-4"></div>
            </div>
          </div>
        </div>
      </nav>

      <div id="content">
        {% if page.custom-layout != true %}
          <h1 class="postTitle">{{ page.title }}</h1>
          <h2 class="postDate" title="{{ page.date | date: "%A, %B %e, %Y" }}">{{ page.date | date: "shared %Y-%m-%d" }}</h2>
        {% endif %}

        <section>
          {{ content }}
        </section>
      </div>
    </div>

    {% if page.assets.js %}
      <script src="/assets/pages/{{ pageNameNoExtension }}/page.js"></script>
    {% endif %}
  </body>
</html>
